body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e3eae4;
}

.title-text {
    text-align: center;
    padding: 20px;
    color: #5d1a1a;
    font-size: 70px;
}

 /* Navbar */

.navbar {
    background-color: #639058;
    letter-spacing: 1px;
}

.brand-logo {
    margin-left: 5px;
}

/* /Navbar */

/* Home Page */

.landing-page {
    height: 100%;
    width: 100%;
    background: url("../images/scotland.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    position: fixed;   
}

.jumbotron {
    background-color: transparent !important;
    text-align: center;
    color: #5d1a1a;
}

.jumbotron-header {
    font-size: 100px;
}

.lead {
    font-size: 25px;
}

/* /Home Page */

/* /About Page */

.about-text {
    text-align: center;
    font-size: 20px;
}

.jumbotron {
    background-color:rgba(236, 240, 241,0.1);
}

/* /About Page */

/* Hikes */

.maps {
    height: 450px;
    border-radius: 20px;
}

.zoomed_map {
    height: 200px;
    margin: 40px;
}

.edit_button {
    background-color: #639058;
}

.delete_button {
    background-color: #0980c5;
}

.delete_button:hover {
    background-color: red;
}

.collection-with-header {
    background-color: #fafafa;
}

.secondary-content {
    height: 20px;
}

/* /Hikes */

/* Add Hikes */

.input-box {
    border-style: solid;
    border-width: 5px;
    border-color: #639058;
    margin: 10px;
    padding: 20px;
    -webkit-appearance: none;
    background-color: #fafafa;
}

.collapsible-header, .collapsible-body {
    background-color: #fafafa;
}

.input-field {
    padding: 20px;
}

/* /Add Hikes */

.btn_small {
    height: 24px;
    width: 75px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.test {
    color: purple;
}

