{% extends 'base.html' %}
{% block content %}

<h1>About</h1>

<div class="container">
	<div class="row">
		<div class="col s12 about-text">
			<p>This website was designed for anyone interested in looking for some new fun hikes to do, or to add to the
				collection from your
				own experiences for other people to enjoy as well.</p>
			<p> When filling out the form to add your hike, there is
				an option to add the coordinates, to do this please visit <a href="https://www.google.com/maps">Google
					Maps</a> find your location and click on the map. This will provide the coordinates for you to copy and add
				to the form in the same format.</p>
		</div>
	</div>
</div>





{% endblock %}