{% extends 'base.html' %} {% block content %}

<h2 class="title-text">Add Hike</h2>
<div class="container">
	<div class="row input-box">
		<p>Fill out the information below and click the Add Hike button for your data to be added onto the Hikes page.
			Information on how to add coordinates can be found on the <a href="{{url_for('about')}}">About</a> page.
			Please note all '*' fields are required.
		</p>
		<form action="{{ url_for('insert_hikes') }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">poll</i>
					<select id="county" name="county_name" class="form-control validate" required>
                <option value="" disabled selected>Choose your County*</option>
                <optgroup label="England" class="blue-text">
                  {% for cat in engcounties|sort(attribute="eng_county") %}
                      <option value="{{cat.eng_county}}" class="blue">{{cat.eng_county}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Scotland">
                    {% for cat in scotcounties|sort(attribute="scot_county") %}
                      <option value="{{cat.scot_county}}">{{cat.scot_county}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Wales">
                    {% for cat in walescounties|sort(attribute="wales_county") %}
                      <option value="{{cat.wales_county}}">{{cat.wales_county}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Ireland">
                    {% for cat in irishcounties|sort(attribute="irish_county") %}
                      <option value="{{cat.irish_county}}">{{cat.irish_county}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Northern Ireland">
                    {% for cat in northirishcounties|sort(attribute="north_ire_county") %}
                      <option value="{{cat.north_ire_county}}">{{cat.north_ire_county}}</option>
                  {% endfor %}
                </optgroup>
            </select>
					<label>Country / County*</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">assignment</i>
					<input id="hike_region" name="hike_region" type="text" class="form-control validate" required>
					<label for="icon_prefix">Hike Town / City*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">comment</i>
					<input name="hike_description" id="hike_description" type="text" class="form-control validate" required>
					<label for="hike_description">Hike Description / Directions*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<div id="difficulty-slider">
						<i class="material-icons prefix">grade</i>
						<label for="hike_difficulty">Difficulty</label>
					</div>
					<p class="range-field">
						<input type="range" id="hike_difficulty" name="hike_difficulty" min="1" max="5" />
                    </p>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">my_location</i>
					<input maxlength="16" name="hike_name" id="hike_name" type="text" class="form-control validate" required>
					<label for="hike_name">Hike Name (please use underscores, max 16 characters)*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">my_location</i>
					<input name="hike_postcode" id="hike_postcode" type="text">
					<label for="hike_postcode">Hike Post Code</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">timer</i>
					<input name="hike_duration" id="hike_duration" type="text">
					<label for="hike_duration">Hike Duration</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">landscape</i>
					<input name="hike_distance" id="hike_distance" type="text">
					<label for="hike_distance">Hike Distance</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">add_location</i>
					<input type="text" id="hike_coordinates" class="form-control validate"
                        name="hike_coordinates" pattern="^(-?\d+(\.\d+)?),\s*(-?\d+(\.\d+)?)$" required>
					<label for="hike_coordinates">Hike Coordinates*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">subject</i>
					<select multiple id="multiple_selction" name="multiple_selction">
                    <option value="" disabled selected>Select all that apply</option>
                        <option value="Parking">Parking</option>
                        <option value="Disabled Access">Disabled Access</option>
                        <option value="Dog Friendly">Dog Friendly</option>
                        <option value="Toilets">Toilets</option>
                </select>
					<label>Hike Attributes</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">add_a_photo</i>
					<input id="img_url" name="img_url" type="text" placeholder="Find image, copy image address">
					<label for="img_url">Image URL</label>
				</div>
			</div>




			<div class="row">
				<button class="btn waves-effect waves-light" type="submit" name="action">Add Hike
                <i class="material-icons right">add_box</i>
             </button>
			</div>
		</form>
	</div>
</div>

{% endblock %}