{% extends 'base.html'%} {% block content %}

<h2 class="title-text">Edit Hike</h2>
<div class="container">
	<div class="row input-box">
		<p>Fill out the information below and click the Edit Hike button for your data to be updated.
			<br>
			To add your coordinates please visit <a href="https://www.google.com/maps" target="_blank">Google Maps</a>,
			search for your hike and then hold down left click on
			the map to copy the coordinates and paste them in the field below. Please note all '*'
			fields are required.
		</p>
		<form action="{{ url_for('update_hike', hike_id=hike._id) }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">poll</i>
					<select id="county" name="county_name" class="form-control validate" required>
                <option value="" disabled>Choose your option*</option>
                <optgroup label="England">
                  {% for cat in engcounties|sort(attribute="eng_county") %}
                    {% if cat.eng_county == hike.county_name %}
                        <option value="{{cat.eng_county}}" selected>{{hike.county_name}}</option>
                    {% else %}
                        <option value="{{cat.eng_county}}">{{cat.eng_county}}</option>
                    {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Scotland">
                    {% for cat in scotcounties|sort(attribute="scot_county") %}
                        {% if cat.scot_county == hike.county_name %}
                            <option value="{{cat.scot_county}}" selected>{{hike.county_name}}</option>
                        {% else %}
                            <option value="{{cat.scot_county}}">{{cat.scot_county}}</option>
                        {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Wales">
                    {% for cat in walescounties|sort(attribute="wales_county") %}
                        {% if cat.wales_county == hike.county_name %}
                            <option value="{{cat.wales_county}}" selected>{{hike.county_name}}</option>
                        {% else %}
                            <option value="{{cat.wales_county}}">{{cat.wales_county}}</option>
                        {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Ireland">
                    {% for cat in irishcounties|sort(attribute="irish_county") %}
                        {% if cat.irish_county == hike.county_name %}
                            <option value="{{cat.irish_county}}" selected>{{hike.county_name}}</option>
                        {% else %}
                            <option value="{{cat.irish_county}}">{{cat.irish_county}}</option>
                        {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Northern Ireland">
                    {% for cat in northirishcounties|sort(attribute="north_ire_county") %}
                        {% if cat.north_ire_county == hike.county_name %}
                            <option value="{{cat.north_ire_county}}" selected>{{hike.county_name}}</option>
                        {% else %}
                            <option value="{{cat.north_ire_county}}">{{cat.north_ire_county}}</option>
                        {% endif %}
                  {% endfor %}
                </optgroup>
            </select>
					<label>Country / County*</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">assignment</i>
					<input id="hike_region" name="hike_region" type="text" class="form-control validate" value="{{hike.hike_region}}" required>
					<label for="hike_region">Hike Town / City*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">comment</i>
					<input name="hike_description" id="hike_description" type="text" value="{{hike.hike_description}}" class="form-control validate" required>
					<label for="hike_description">Hike Description / Directions*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">add_location</i>
					<input type="text" id="hike_coordinates" class="form-control validate"
                        name="hike_coordinates" value="{{hike.hike_coordinates}}"
                        pattern="^(-?\d+(\.\d+)?),\s*(-?\d+(\.\d+)?)$" required>
					<label for="hike_coordinates">Hike Coordinates*</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">gps_not_fixed</i>
					<input name="hike_name" pattern="[^' ']+" maxlength="16" id="hike_name" type="text" value="{{hike.hike_name}}" class="form-control validate" required>
					<label for="hike_name" class="hike-name">Hike Name (use underscores, max 16 characters)*</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">my_location</i>
					<input name="hike_postcode" id="hike_postcode" type="text" value="{{hike.hike_postcode}}">
					<label for="hike_postcode">Hike Post Code</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">timer</i>
					<input name="hike_duration" id="hike_duration" type="text" value="{{hike.hike_duration}}">
					<label for="hike_duration">Hike Duration</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">landscape</i>
					<input name="hike_distance" id="hike_distance" type="text" value="{{hike.hike_distance}}">
					<label for="hike_distance">Hike Distance</label>
				</div>
				<div class="input-field col s12 m6">
					<div id="difficulty-slider">
						<i class="material-icons prefix">grade</i>
						<label for="hike_difficulty">Difficulty</label>
					</div>
					<p class="range-field">
						<input type="range" id="hike_difficulty" name="hike_difficulty" min="1" max="5" value="{{hike.hike_difficulty}}"/>
                    </p>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">subject</i>
					<select multiple id="multiple_selction" name="multiple_selction">
                    <option value="" disabled selected>Select all that apply</option>
                        {% if "Parking" in hike.multiple_selction %}
                            <option value="Parking" selected>Parking</option>
                        {% else %}
                            <option value="Parking">Parking</option>
                        {% endif %}
                        
                        {% if "Disabled Access" in hike.multiple_selction %}
                            <option value="Disabled Access" selected>Disabled Access</option>
                        {% else %}
                            <option value="Disabled Access">Disabled Access</option>
                        {% endif %}
                        
                        {% if "Dog Friendly" in hike.multiple_selction %}
                            <option value="Dog Friendly" selected>Dog Friendly</option>
                        {% else %}
                            <option value="Dog Friendly">Dog Friendly</option>
                        {% endif %}
                        
                        {% if "Toilets" in hike.multiple_selction %}
                            <option value="Toilets" selected>Toilets</option>
                        {% else %}
                            <option value="Toilets">Toilets</option>
                        {% endif %}
                </select>
					<label>Hike Attributes</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">add_a_photo</i>
					<input id="img_url" name="img_url" type="text" value="{{hike.img_url}}">
					<label for="img_url">Image URL</label>
				</div>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light" type="submit" name="action">Edit Hike
                <i class="material-icons right">add_box</i>
             </button>
			</div>
		</form>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

</script>

{% endblock %}