{% extends 'base.html'%} {% block content %}

<h3>Edit Hike</h3>
<div class="container">
	<div class="row input-box">
		<form action="{{ url_for('update_hike', hike_id=hike._id) }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">poll</i>
					<select id="county" name="county_name">
                <option value="" disabled>Choose your option</option>
                <optgroup label="England">
                  {% for cat in engcounties %}
                    {% if cat.eng_county == hike.county_name %}
                        <option value="{{cat.eng_county}}" selected>{{hike.county_name}}</option>
                    {% else %}
                        <option value="{{cat.eng_county}}">{{cat.eng_county}}</option>
                    {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Scotland">
                    {% for cat in scotcounties %}
                        {% if cat.scot_county == hike.county_name %}
                            <option value="{{cat.scot_county}}" selected>{{hike.county_name}}</option>
                        {% else %}
                            <option value="{{cat.scot_county}}">{{cat.scot_county}}</option>
                        {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Wales">
                    {% for cat in walescounties %}
                        {% if cat.wales_county == hike.county_name %}
                            <option value="{{cat.wales_county}}" selected>{{hike.county_name}}</option>
                        {% else %}
                            <option value="{{cat.wales_county}}">{{cat.wales_county}}</option>
                        {% endif %}
                  {% endfor %}
                </optgroup>
            </select>
					<label>Country / County</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">assignment</i>
					<input id="hike_region" name="hike_region" type="text" class="validate" value="{{hike.hike_region}}">
					<label for="icon_prefix">Hike Town / City</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">comment</i>
					<textarea name="hike_description" id="hike_description" class="materialize-textarea">{{hike.hike_description}}</textarea>
					<label for="icon_telephone">Hike Description / Directions</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">grade</i>
					<textarea name="hike_difficulty" id="hike_difficulty" class="materialize-textarea">{{hike.hike_difficulty}}</textarea>
					<label for="icon_telephone">Hike Difficulty</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">my_location</i>
					<textarea name="hike_name" id="hike_name" class="materialize-textarea">{{hike.hike_name}}</textarea>
					<label for="icon_telephone">Hike Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">my_location</i>
					<textarea name="hike_postcode" id="hike_postcode" class="materialize-textarea">{{hike.hike_postcode}}</textarea>
					<label for="icon_telephone">Hike Post Code</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">timer</i>
					<textarea name="hike_duration" id="hike_duration" class="materialize-textarea">{{hike.hike_duration}}</textarea>
					<label for="icon_telephone">Hike Duration</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">landscape</i>
					<textarea name="hike_distance" id="hike_distance" class="materialize-textarea">{{hike.hike_distance}}</textarea>
					<label for="icon_telephone">Hike Distance</label>
				</div>
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">add_location</i>
					<input class="materialize-textarea" type="text" id="hike_coordinates" name="hike_coordinates"
                value="{{hike.hike_coordinates}}" pattern="^\-?[0-9]{1,3}\.[0-9]+\,\s?\-?[0-9]{1,3}\.[0-9]+$">
					<!-- <textarea name="hike_coordinates" id="hike_coordinates" class="materialize-textarea"></textarea> -->
					<label for="icon_telephone">Hike Coordinates</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">subject</i>
					<select multiple id="multiple_selction" name="multiple_selction">
                    <option value="" disabled selected>Select all that apply</option>
                        <option value="Parking">Parking</option>
                        <option value="Disabled Access">Disabled Access</option>
                        <option value="Dog Friendly">Dog Friendly</option>
                        <option value="Toilets">Toilets</option>
                </select>
					<label>Hike Attributes</label>
				</div>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light" type="submit" name="action">Edit Hike
                <i class="material-icons right">add_box</i>
             </button>
			</div>
		</form>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

</script>

{% endblock %}