{% extends 'base.html' %}
{% block content %}


<h1>Hikes</h1>

<div class="container">
	<div class="row">
		<div id="map" class="maps"></div>
	</div>
</div>

<div class="container">
	<ul>
		{% for hike in hikes %}
		<div class="row">
			<div class="col s12">
				<ul class="collapsible break" data-collapsible="accordian">
					<li>
						<div class="collapsible-header">
							<div class="col s2">
								<div class="inline_actions">
									<a href="{{ url_for('edit_hike', hike_id=hike._id) }}"
										class="waves-effect waves-light btn btn_small">Edit</a>
									<a href="{{ url_for('delete_hike', hike_id=hike._id) }}"
										onclick="return confirm('Are you sure you want to delete this hike?');"
										class="waves-effect waves-light btn btn_small blue">Delete</a>
								</div>
							</div>
							<div class="task_header col s9">
								<strong>Town / City: {{hike.hike_region}}</strong>

								<p id="county" name="county_name">
									<strong>County: {{hike.county_name}}</strong>
								</p>

							</div>
							<div class="col s1">
								<i class="material-icons">expand_more</i>
							</div>
						</div>
                        <div class="collapsible-body col s12">
							<div class="col s12 m6">
								<p>Difficulty: {{hike.hike_difficulty}}</p>
								<p>Hike Description / Directions: {{hike.hike_description}}</p>
								<p>Hike Duration: {{hike.hike_duration}}</p>
								<p>Hike Distance: {{hike.hike_distance}}</p>
								<p>Parking: {{hike.hike_parking}}</p>
								<p>Hike Name: {{hike.hike_name}}</p>
								<p>Disabled Access: {{hike.disabled_access}}</p>
								<p>Hike Location: {{hike.hike_postcode}}</p>
								<p>Hike Attributes: {{hike.multiple_selction}}</p>
							</div>
							<div class="col s12 m6">
								<div id="{{hike.hike_name}}" class="maps zoomed_map"></div>
							</div>
						</div>
						<!-- <div class="collapsible-body">
							<div class="col s12">
								<div id="{{hike.hike_name}}" class="maps"></div>
							</div>
							<p>Difficulty: {{hike.hike_difficulty}}</p>
							<p>Hike Description / Directions: {{hike.hike_description}}</p>
							<p>Hike Duration: {{hike.hike_duration}}</p>
							<p>Hike Distance: {{hike.hike_distance}}</p>
							<p>Parking: {{hike.hike_parking}}</p>
							<p>Hike Name: {{hike.hike_name}}</p>
							<p>Disabled Access: {{hike.disabled_access}}</p>
							<p>Hike Location: {{hike.hike_postcode}}</p>
							<p>Hike Attributes: {{hike.multiple_selction}}</p>
							<p>Hike Coordinates: {{hike.hike_coordinates}}</p>
							<div>Picture: {{hike.hike_img}}</div>

						</div> -->
					</li>
				</ul>
			</div>
		</div>
		{% endfor %}
	</ul>
</div>

{% endblock %}



{% block js %}
{% for hike in hikes %}

<script>

var marker = L.marker([{{hike.hike_coordinates}}]).addTo(map);

console.log({{hike.hike_name}})
console.log({{hike.hike_coordinates}})


var mapTileLayers{{hike.hike_name}} = L.tileLayer("http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}", {
    attribution: "Powered by <a href='https://developers.arcgis.com/terms/attribution/' target='_blank' rel='noopener'>Esri</a>"
});
	
	var {{hike.hike_name}} = L.map("{{hike.hike_name}}", {
    layers: [mapTileLayers{{hike.hike_name}}],
    center: [{{hike.hike_coordinates}}],
    zoom: 13
});

// function(coor) {var marker = L.marker([{{coor}}]).addTo(map);}

</script>

{% endfor %}
{% endblock %}